BITCOIN_VERSION=28.1
BITCOIN_RPC_USER=bitcoin
BITCOIN_RPC_PASSWORD=troque_por_uma_senha_forte
BITCOIN_DATA=/mnt/hd/bitcoin

FULCRUM_VERSION=2.1.0
FULCRUM_DATA=/home/seu_usuario/fulcrum-data

ELEMENTS_VERSION=23.3.2
ELEMENTS_DATA=/home/seu_usuario/elements-data
ELEMENTS_RPC_USER=elements
ELEMENTS_RPC_PASSWORD=troque_por_uma_senha_forte
